.team.pic
<!--CUBICAL BOX FOR 
	ABOUT US
	OUR MISSION
	VISION-->
|Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fugiat laborum architecto? Deserunt, modi veniam fugit aut voluptas perspiciatis culpa? Ducimus, asperiores eveniet? Cupiditate distinctio, impedit obcaecati molestiae voluptate rem.
|Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sit labore esse. Saepe libero voluptatibus, dolore aut minima velit facere inventore totam suscipit laborum, tempore aperiam voluptas qui commodi ipsam?