extends /pug/bases/header.pug
block headelms
	link(rel="stylesheet" href="styles/index.min.css" type="text/css")

block content
	.page
		include /pug/components/home.pug
	.page
		include /pug/components/intro.pug
	.page
		include /pug/components/events.pug
	.page
		include /pug/components/corporate.pug
	.page
		include /pug/components/footer.pug
