extends /pug/bases/header.pug

block content
	include /pug/components/home.pug
	include /pug/components/intro.pug
	include /pug/components/events.pug
	include /pug/components/corporate.pug
	include /pug/bases/footer.pug
