
.ui.fluid.container
	.heading EVENTS ORGANISED
	.horizontal.scroll
		.ui.fluid.link.cards
			.card
				.image
					img(src = 'https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fyt3.ggpht.com%2Fa-%2FACSszfGxjQ2zoNjyn0zAtB4SZGHo0eBjQ_tbSO4Xaw%3Ds900-mo-c-c0xffffffff-rj-k-no&f=1')
				.content
					.header Past
					.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.
			.card
				.image
					img(src = 'https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fyt3.ggpht.com%2Fa-%2FACSszfGxjQ2zoNjyn0zAtB4SZGHo0eBjQ_tbSO4Xaw%3Ds900-mo-c-c0xffffffff-rj-k-no&f=1')
				.content
					.header Past
					.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.
			.card
				.image
					img(src = 'https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fyt3.ggpht.com%2Fa-%2FACSszfGxjQ2zoNjyn0zAtB4SZGHo0eBjQ_tbSO4Xaw%3Ds900-mo-c-c0xffffffff-rj-k-no&f=1')
				.content
					.header Past
					.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.
			.card
				.image
					img(src = 'https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fyt3.ggpht.com%2Fa-%2FACSszfGxjQ2zoNjyn0zAtB4SZGHo0eBjQ_tbSO4Xaw%3Ds900-mo-c-c0xffffffff-rj-k-no&f=1')
				.content
					.header Upcoming
					.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.
			.card
				.image
					img(src = 'https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fyt3.ggpht.com%2Fa-%2FACSszfGxjQ2zoNjyn0zAtB4SZGHo0eBjQ_tbSO4Xaw%3Ds900-mo-c-c0xffffffff-rj-k-no&f=1')
				.content
					.header Upcoming
					.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.
			.card
				.image
					img(src = 'https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fyt3.ggpht.com%2Fa-%2FACSszfGxjQ2zoNjyn0zAtB4SZGHo0eBjQ_tbSO4Xaw%3Ds900-mo-c-c0xffffffff-rj-k-no&f=1')
				.content
					.header Upcoming
					.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.
			.card
				.image
					img(src = 'https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fyt3.ggpht.com%2Fa-%2FACSszfGxjQ2zoNjyn0zAtB4SZGHo0eBjQ_tbSO4Xaw%3Ds900-mo-c-c0xffffffff-rj-k-no&f=1')
				.content
					.header Test Card
					.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.