@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300&display=swap');

//========= HEADER ===========

.logo {
	font-family: 'Roboto Slab', serif;
	font-size: x-large;
}

//========== INTRO ============
.heading {
	text-align: center;
	font-size: 4em;
	margin: 1em auto;
	color: #1b1c1d;
	font-family: 'Dm Serif Text', serif;
}
.content {
	text-align: justify;
	text-justify: inter-word;
	font-size: 1.25em;
}

//========== HOME ============
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.row:extend(.flex) {
	flex-direction: row;
	z-index: 2;
}
.col:extend(.flex) {
	flex-direction: column;
}

#landing-header {
	position: static;
	top: 0;
	width: 100vw;
	height: 100vh;

	z-index: 1;
	background: rgba(0, 0, 0, 0.3);
	.row {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		align-items: center;
		justify-content: center;

		width: 100%;
		img {
			display: block;
		}
	}
	.col {
		color: #fff;
		h1 {
			font-family: 'Monserrat', sans-serif;
			font-size: 8em;
		}
		h2 {
			font-family: 'bungee hairline', sans-serif;
			text-align: center;
			font-size: 2em;
			margin-top: -0.5em;
		}
	}
}
#slideshow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	opacity: 1;
	background-size: cover;
	transition: z-index 1s step-end;
}
.visible {
	opacity: 1;
	animation: fadeOut 5s;
	z-index: 1;
}
.invisible {
	opacity: 0;
	animation: fadeIn 5s;
	z-index: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

// ================ ABOUT US ====================

.team-pic {
	/*TEAM PICTURE WITH DIRECTOR*/
	background: url('../resources/images/iste-landscape.jpeg') no-repeat center center fixed;
	height: 400px;
	position: relative;
	background-size: cover;
}

.heading {
	line-height: 1em;
}
.about-us {
	.content-card {
		text-align: justify;
		font-size: 1.2em;
	}
}

.corporate-section {
	background: #0f2027; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2c5364,
		#203a43,
		#0f2027
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 0.5em;
	margin-top: 2em;
	.aboutus-card {
		background: rgba(0, 0, 0, 0.3);
		width: 80%;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		margin: 2em auto;
		padding: 1em 1.2em;
		border-radius: 30px;
		* {
			color: #fff;
			margin: 0.5em 0;
			line-height: 1.2em;
		}
		.title {
			font-size: 3em;
		}
		.description {
			text-align: justify;
			font-size: 1.2em;
		}
	}
}

// ========== EVENTS ============
.ui.fluid.container {
	margin: 0 0 0 1rem;
	.heading {
		text-align: center;
		font-size: 3em;
		margin: 1em auto;
		color: #1b1c1d;
		font-family: 'Dm Serif Text', serif;
	}
	.ui.fluid.link.cards {
		display: -webkit-inline-box;
		.card {
			margin: 1em auto;
			opacity: 0.678;
			transition: 0.5s;
			min-width: 15%;
		}
		.card:hover {
			opacity: 1;
			border-width: 15px;
			border-style: double;
			border-color: #1b1c1d;
			min-width: 20%;
			z-index: 1;
			position: relative;
		}
	}
	// .ui.fluid.link.cards:hover{
	// 	margin:20px;
	// }
	.horizontal.scroll {
		overflow-x: scroll;
	}
}

::-webkit-scrollbar {
	display: none;
}

// =============== FOOTER ==================

.footer {
	background-color: #1b1c1d;
	color: whitesmoke;
	font-size: 17px;
	padding: 20px;
	.follow {
		font-size: 20px;
	}
	.contacts {
		margin-left: 30%;
		.contact-heading {
			font-size: 20px;
		}
	}
}

@media only screen and (min-width: 720px) {
	// ================ ABOUT US =================
	.corporate-section {
		padding: 1em auto;
		.aboutus-card {
			display: inline-block;
			margin: 2em;
			width: 20%;
		}
	}
}
