doctype html
head
  title IsteNith
  link(rel='stylesheet' href='styles/home.css')
#landing-header
  h1
    // Font to be decided, based on the background pictures
    | ISTE Nit Hamirpur
ul.slideshow
  // Pictures to be changed
  li
  li
  li
  li
  li
