doctype html
head
	title ISTE - NIT Hamirpur
	link(rel='stylesheet' href='styles/home.min.css')
body
	#landing-header
		.row
			img(src='/resources/images/logos/svgs/ISTE_hollow.svg')
			.col
				h1 ISTE
				h2 NIT Hamirpur
	ul.slideshow
		li
		li
		li
		li
		li
