.heading OUR TEAM
.team-pic
.ui.container
	.about-us
		.heading 
			|ABOUT US
		.content-card
			|The Indian Society for Technical Education (ISTE) is a national, professional, non-profit organisation for the Technical Education System in our country. ISTE has the motto of the promoting Career development of Teachers and personality development of Students. The major objective of ISTE is to provide quality training programmes for teachers and administrators of technical Institutions to update their knowledge and skills in their fields of activity and to assist the production and development of high quality professional engineers. 
.corporate-section
	-
		data = [
			{
				"title":"Mission",
				"desc":	"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corporis inventore sapiente consectetur veniam placeat vel laudantium, vitae nesciunt ullam fuga dolore eveniet nisi maxime ex, enim atque maiores iure."
			},			
			{
				"title":"Vision",
				"desc":	"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corporis inventore sapiente consectetur veniam placeat vel laudantium, vitae nesciunt ullam fuga dolore eveniet nisi maxime ex, enim atque maiores iure."
			},
			{
				"title":"Values",
				"desc":	"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corporis inventore sapiente consectetur veniam placeat vel laudantium, vitae nesciunt ullam fuga dolore eveniet nisi maxime ex, enim atque maiores iure."
			}
		];

	each item in data 
		.aboutus-card
			.title= item.title
			.description= item.desc
		//- 	.content
		//- 		//- img(src='../resources/images/logos/svgs/mission.svg')
		//- 		.right.floated.meta
		//- 			|Who We Are..What We Do
		//- 		.center.aligned.header MISSION
		//- 		.center.aligned.description
		//- 			|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corporis inventore sapiente consectetur veniam placeat vel laudantium, vitae nesciunt ullam fuga dolore eveniet nisi maxime ex, enim atque maiores iure.
		//- .grey.card
		//- 	.content
		//- 		//- img(src='../resources/images/logos/svgs/vision.svg')
		//- 		.right.floated.meta
		//- 			|What We Aspire To Be
		//- 		.center.aligned.header VISION
		//- 		.center.aligned.description
		//- 			|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corporis inventore sapiente consectetur veniam placeat vel laudantium, vitae nesciunt ullam fuga dolore eveniet nisi maxime ex, enim atque maiores iure.
		//- .grey.card
		//- 	.content
		//- 		//- img(src='../resources/images/logos/svgs/values.svg')
		//- 		.right.floated.meta
		//- 			|What Makes Us
		//- 		.center.aligned.header VALUES
		//- 		.center.aligned.description
		//- 			|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corporis inventore sapiente consectetur veniam placeat vel laudantium, vitae nesciunt ullam fuga dolore eveniet nisi maxime ex, enim atque maiores iure.
