.heading OUR TEAM. YOUR DREAM
.team.pic
.ui.container
	.about-us
		.heading 
			|ABOUT US
		.content-card
			|Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tempora minus ad dolores esse alias non dolore, minima assumenda commodi, quo accusantium! Dolore dolores impedit sit eveniet dolorem deleniti animi.Corporis asperiores minus ut deserunt inventore animi cum? Laudantium maiores sunt voluptatem ut non, perspiciatis rem suscipit veniam, doloribus reiciendis necessitatibus dignissimos culpa repellat itaque nemo modi distinctio alias incidunt?Voluptas ex nobis sequi, consequuntur quod laborum possimus veniam ab, omnis aspernatur deserunt, dolor eius sint? Debitis deserunt expedita eveniet. Porro repellat voluptatum at similique nemo quidem reiciendis temporibus cumque!Commodi consequuntur quidem ipsum voluptatibus minus ab quos maiores? Nisi, eius eos dolores, exercitationem dolore nostrum animi sapiente ducimus quas ab aperiam quis excepturi ut qui id optio. Repudiandae, itaque.Pariatur inventore quaerat laborum illum obcaecati, cum, incidunt similique officiis nostrum vel, velit fugit quos perspiciatis laudantium! Assumenda, sed optio. Quis sapiente ducimus rerum hic quam ea aliquam corrupti totam!
.corporate-section
	.ui.fluid.centered.raised.three.stackable.cards
		.grey.card
			.content
				//- img(src='../resources/images/logos/svgs/mission.svg')
				.right.floated.meta
					|Who We Are..What We Do
				.center.aligned.header MISSION
				.center.aligned.description
					|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corporis inventore sapiente consectetur veniam placeat vel laudantium, vitae nesciunt ullam fuga dolore eveniet nisi maxime ex, enim atque maiores iure.
		.grey.card
			.content
				//- img(src='../resources/images/logos/svgs/vision.svg')
				.right.floated.meta
					|What We Aspire To Be
				.center.aligned.header VISION
				.center.aligned.description
					|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corporis inventore sapiente consectetur veniam placeat vel laudantium, vitae nesciunt ullam fuga dolore eveniet nisi maxime ex, enim atque maiores iure.
					br
					|Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic nihil aliquam cum corrupti laudantium maiores blanditiis expedita, numquam architecto vel cumque ut ab molestias officia fuga nemo modi eveniet consequatur!
					br
					|Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo iure magni natus itaque aliquid sequi totam obcaecati autem assumenda asperiores, perspiciatis ipsa nesciunt vitae, velit minima adipisci, provident corrupti ut?
		.grey.card
			.content
				//- img(src='../resources/images/logos/svgs/values.svg')
				.right.floated.meta
					|What Makes Us
				.center.aligned.header VALUES
				.center.aligned.description
					|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae corporis inventore sapiente consectetur veniam placeat vel laudantium, vitae nesciunt ullam fuga dolore eveniet nisi maxime ex, enim atque maiores iure.
					br
					|Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic nihil aliquam cum corrupti laudantium maiores blanditiis expedita, numquam architecto vel cumque ut ab molestias officia fuga nemo modi eveniet consequatur!
					br
					|Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo iure magni natus itaque aliquid sequi totam obcaecati autem assumenda asperiores, perspiciatis ipsa nesciunt vitae, velit minima adipisci, provident corrupti ut?
