.events-organised
	.heading EVENTS ORGANISED
	.event-cards
		-
			var events = [
				{
					'image':'resources/images/iste-event-placeholder.jpeg',
					'title':'Past',
					'class': 'past',
					'desc' :'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error'
				},
				{
					'image':'resources/images/iste-event-placeholder.jpeg',
					'title':'Past',
					'class': 'past',
					'desc' :'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error'
				},
				{
					'image':'resources/images/iste-event-placeholder.jpeg',
					'title':'Past',
					'class': 'past',
					'desc' :'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error'
				},
				{
					'image':'resources/images/iste-event-placeholder.jpeg',
					'title':'future',
					'class': 'future',
					'desc' :'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error'
				},
				{
					'image':'resources/images/iste-event-placeholder.jpeg',
					'title':'future',
					'class': 'future',
					'desc' :'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error'
				},
				{
					'image':'resources/images/iste-event-placeholder.jpeg',
					'title':'future',
					'class': 'future',
					'desc' :'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error'
				},
			]
		for event in events
			.event(class=event.class)
				.image
					img(src = event.image)
				.info
					.header= event.title
					.description!= event.des 
