extends /pug/bases/header.pug

block headelms
	link(rel="stylesheet" href="styles/event.min.css" type="text/css")

block content
	.ui.fluid.container
		.heading EVENTS ORGANISED
		.horizontal.scroll
			.ui.fluid.link.cards
				.card
					.image
						img(src = '../resources/images/iste-event-placeholder.jpeg')
					.content
						.header Past
						.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.
				.card
					.image
						img(src = '../resources/images/iste-event-placeholder.jpeg')
					.content
						.header Past
						.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.
				.card
					.image
						img(src = '../resources/images/iste-event-placeholder.jpeg')
					.content
						.header Past
						.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.
				.card
					.image
						img(src = '../resources/images/iste-event-placeholder.jpeg')
					.content
						.header Upcoming
						.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.
				.card
					.image
						img(src = '../resources/images/iste-event-placeholder.jpeg')
					.content
						.header Upcoming
						.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.
				.card
					.image
						img(src = '../resources/images/iste-event-placeholder.jpeg')
					.content
						.header Upcoming
						.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.
				.card
					.image
						img(src = '../resources/images/iste-event-placeholder.jpeg')
					.content
						.header Test Card
						.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam ut voluptates dolor soluta aut, eum impedit enim iure error.