.footer
	.ui.equal.width.grid
		.four.column.row
			.left.floated.column
				.follow
					.follow-heading
						|Follow Us On:
					br
					i.facebook.icon
					i.instagram.icon
					i.twitter.icon
			.right.floated.column
				.contacts
					.contact-heading
						|Contact-Us
					br
					.contact-info
						|Phone-No:
						br
						|E-mail:
