extends /pug/bases/header.pug

block headelms
	link(rel="stylesheet" href="styles/home.min.css" type="text/css")

block content
	#landing-header
		.row
			img(src="/resources/images/logos/svgs/ISTE_hollow.svg")
			.col
				h1 ISTE
				h2 NIT Hamirpur
	ul.slideshow
		li
		li
		li
		li
		li
