.ui.container
	.heading
		|WHAT IS ISTE?
	.content
		|Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem fuga hic perferendis culpa facere quos tempora aspernatur vel maxime doloremque aperiam quo minima, cum voluptatem commodi recusandae expedita quibusdam. Et?Aliquam facilis, incidunt deserunt amet quia suscipit animi earum dolore repudiandae non sit nobis expedita. Adipisci distinctio ut nemo maiores atque ratione aspernatur, tempore ducimus! Sunt expedita doloribus atque error!Ab ad suscipit culpa corrupti eligendi corporis eaque consectetur sit eveniet aut, tenetur magni vero exercitationem quos illo facilis nostrum tempora vitae quam, enim nemo necessitatibus maxime consequuntur? Earum, distinctio?Commodi voluptate animi at maxime nam tempora harum quod! Tempore esse fugit accusantium sit necessitatibus perspiciatis nihil eligendi cupiditate recusandae velit? Magnam enim cupiditate consequatur aspernatur incidunt a, iste facere?
