doctype html
head
  title ISTE - Nit Hamirpur
  link(rel='stylesheet' href='../../less/home.less')
  link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.0/semantic.min.js')
body
    .ui.top.fixed.compact.menu
    .header.item
        | Our Company
    a.item
        | About Us
    a.item.active
        | Jobs
    a.item
        | Locations
