doctype html
head
	title ISTE - NIT Hamirpur
	meta(charset = 'UTF-8')
	link(rel='stylesheet' href='/styles/home.min.css')
	link(rel = 'stylesheet' href = '/styles/header.min.css')
	link(rel = 'stylesheet' href = '/styles/event.min.css')
	link(rel = 'stylesheet' href = '/styles/coporate.min.css')
	link(rel = 'stylesheet' href = '/styles/intro.min.css')
	link(rel = 'stylesheet' href = '/styles/footer.min.css')
	link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css')

body
	.ui.inverted.huge.top.fixed.stackable.menu
		.header.item 
			img(src="/resources/images/logos/svgs/ISTE_hollow.svg")
			.logo
				|ISTE 
		.right.menu
			a.item About Us
			a.item Contact Us 


